ul {
    list-style:none;
}
li {
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

li:hover {
    background-color: lightyellow;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:Arial, senserif;
    background-color: beige;
}
input{
    padding:8px;
    margin-right: 5px;
}
button {
    background-color: pink;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: aquamarine;
}
